* {
    font-family: "Comic Sans MS", "Papyrus", sans-serif;
    background-color: green;
    color: white;
}

h1 {
    font-size: 96px;
}

h2 {
    color: brown;
    border: solid yellow;
}

a {
    font-style: italic;
    background-color: brown;
    padding: 10px;
    margin: 20px auto;
    border: dotted pink;
    display: block;
}

img {
    height: auto;
    width: 400px;
}